/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

/*********************
PAGE SPECIFIC STYLES
*********************/
body.single-works {
	&.height-limited {
		.work-gallery {
			margin-left:-270px;
		}
	}
	.work-description {
		width:270px;
	}
	.work-gallery {
		padding-left:290px;
	}
}